.collection_title{
    display: flex;
    justify-content: center;
    padding: 5px;
}
#collection_title{
    margin: 5px;
    font-size: 6rem;
    text-transform: uppercase;
}
#collection_title:hover{
    transform: scale(1.3);
    color: rgb(107, 74, 74);
    
}
.collection_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.collection_img img{
    width: 350px;
    height: 250px;
    border: 2px solid rgb(230, 209, 209);
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #da5fb542;
    cursor: pointer;
    margin: 10px;
    transition:400ms
}

.col_img:hover{
    filter: grayscale();
    transform: scale(1.2);
}